<div>
  {{#if this.errorMessage}}
    <p>{{this.errorMessage}}</p>
  {{/if}}

  <form class='card comment-form' {{on 'submit' this.createComment}}>
    <div class='card-block'>
      <textarea
        class='form-control'
        placeholder='Write a comment...'
        rows='3'
        value={{this.comment}}
        {{on 'input' this.updateComment}}
      ></textarea>
    </div>
    <div class='card-footer'>
      <img src='http://i.imgur.com/Qr71crq.jpg' class='comment-author-img' />
      <button class='btn btn-sm btn-primary'>
        Post Comment
      </button>
    </div>
  </form>
</div>
